<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar  color="primary">{{appName}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="!(isLoggedIn$ | async)" routerLinkActive="active" routerLink="/auth/login">
        <mat-icon>lock</mat-icon> Iniciar Sesión
      </a>
      <a mat-list-item *ngIf="(isLoggedIn$ | async)" routerLinkActive="active" routerLink="">
        <mat-icon>home</mat-icon> Dashboard
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <span *ngIf="isLoggedIn$ | async">Bienvenido {{(email$ | async)}}</span>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item *ngIf="isLoggedIn$ | async"  (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>

        <button mat-menu-item *ngIf="!(isLoggedIn$ | async)" routerLink="auth/login">
          <mat-icon>lock_open</mat-icon>
          <span>Iniciar Sesión</span>
        </button>
      </mat-menu>

    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="layout">
      <div class="router">
        <div class="item">
          <router-outlet></router-outlet>
        </div>
      </div>

      <br />

      <footer class="footer">
        <mat-toolbar >
          <mat-toolbar-row>

            <span> {{appName}}  &#169; {{ year }} - Todos los Derechos Reservados</span>
          </mat-toolbar-row>

        </mat-toolbar>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
